.containerHome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.containerHome .homeTitle {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.containerHome .buttonsArea .buttons {
  background-color: transparent;
  border-radius: 100px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: 0.7s all ease;
}

.containerHome .buttonsArea .buttons:hover {
  opacity: 0.6;
}